name: Terraform Apply

on:
  workflow_run:
    workflows: ["Terraform"]
    types:
      - completed

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform-infra-new
